@use "variables";
@use "top";
@use "about-me";
@use "main";
@use "responsive";
@use "theme";
@use "print";

html {
  &.size-1 {
    font-size: 0.6rem;
  }

  &.size-2 {
    font-size: 0.7rem;
  }

  &.size-3 {
    font-size: 0.8rem;
  }

  &.size-4 {
    font-size: 0.9rem;
  }

  &.size-5 {
    font-size: 1rem;
  }

  &.size-6 {
    font-size: 1.1rem;
  }

  &.size-7 {
    font-size: 1.2rem;
  }

  &.size-8 {
    font-size: 1.3rem;
  }

  &.size-9 {
    font-size: 1.4rem;
  }

  &.size-10 {
    font-size: 1.5rem;
  }
}

.my-resume {
  &.fixed-mode {
    overflow: hidden;
  }


  margin: 1rem;
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;

  .db {
    background-color: rgb(175, 175, 221);
  }

  .backend {
    background-color: rgb(142, 182, 196);
  }

  .frontend {
    background-color: rgb(204, 128, 165);
  }

  .build {
    background-color: rgb(226, 198, 166);
  }

  .devops {
    background-color: rgb(113, 177, 123);
  }

  .container {
    display: flex;
    flex-direction: column;

    .content {
      display: flex;

      .main {
        flex-grow: 1;
      }
    }
  }

}